@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 1.6rem;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 24px;
    border: solid 2px #000;
}

#img img {
    width: 350px;
}